@page "/"

<h1>Добро пожаловать в будущее</h1>

<AuthorizeView>
    <Authorized>
        
    </Authorized>
    <NotAuthorized>
        <h5>Войдите или зарегистрируйтесь</h5>
    </NotAuthorized>
</AuthorizeView>