@page "/SpeechRecognition"
@attribute [Authorize]

@using System.IO
@using Sava.Components
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@using Sava.Service
@using Serilog

@inject ProtectedLocalStorage _protectedLocalStorage
@inject VoskService _voskService
@inject FFmpegService _ffmpegService
@inject PhonesDbService _phonesDbService
@inject NotificationService _notificationService;

<h2>Speech Recognition</h2>

@if (IsInitiating)
{
    <label>Загрузка данных из кэша...</label>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <div class="row align-items-center gy-5" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-2">
            <label>Выберите мета-файл : </label>
        </div>
        <div class="col-auto">
            <InputFile id="metaFileUpload"
                       OnChange="@LoadMetaFile"
                       accept=".json"
                       hidden/>
            <label type="button" class="btn btn-primary btn-sm" for="metaFileUpload">
                Загрузить
            </label>
        </div>
        <div class="col-2">
            @if (MetaFile != null)
            {
                <label>@MetaFile.Name</label>
            }
        </div>
    </div>
    
    <div class="row align-items-baseline" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-2">
            <label>Выберите аудио файлы : </label>
        </div>
        <div class="col-auto">
            <InputFile id="audioFilesFileUpload"
                       OnChange="@LoadAudioFiles"
                       accept=".wav, .WAV"
                       multiple hidden/>
            <label type="button" class="btn btn-primary btn-sm" for="audioFilesFileUpload">
                Загрузить
            </label>
        </div>
        <div class="col-2">
            @if (AudioFiles.Count > 0)
            {
                <label>@("Загружено " + AudioFiles.Count + " аудио файл(ов)")</label>
            }
        </div>
    </div>

    @if (IsLoading)
    {
        <label>Загрузка файлов на сервер...</label>
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    }
    else if (AudioFiles != null)
    {
        <SpeechTable AudioFiles="AudioFiles"/>
    }

    @if (IsUploading)
    {
        <label>Продолжается загрузка файлов на сервер...</label>
        <div class="spinner-border text-primary" role="status"></div>
        <span class="visually-hidden"></span>
    }
}

@code
{
    protected override async Task OnParametersSetAsync()
    {
        IsInitiating = true;
        AudioFiles = new List<TempAudioFile>();
        try
        {
            Log.Information("{@SourceObject}: Try to load data from Local Storage", 
                typeof(SpeechRecognition) );
            
            var audioFilesResult = await _protectedLocalStorage.GetAsync<List<TempAudioFile>>("TempAudioFiles");
            AudioFiles = audioFilesResult.Success ? audioFilesResult.Value : new List<TempAudioFile>();
            
            var metaResult = await _protectedLocalStorage.GetAsync<MetaFile>("MetaFile");
            MetaFile = metaResult.Success ? metaResult.Value : null;
        }
        catch (Exception e)
        {
            Log.Error("File: {Filename} Error: {Error}",
                e.Source, e.Message);
        }
        IsInitiating = false;
    }

        private const long MaxFileSize = 104857600; // 100 мегабайт
        private const int MaxAllowedFiles = 1000000; // 1 млн.

    private MetaFile MetaFile { get; set; }
    private List<TempAudioFile> AudioFiles { get; set; }

    private bool IsInitiating { get; set; }
    private bool IsLoading { get; set; }
    private bool IsUploading { get; set; }

    private static async Task<string> CopyFileToPath(string type, IBrowserFile file)
    {
        Log.Information("{@SourceObject}: Try to upload file {@File} to Server", 
            typeof(SpeechRecognition),  file.Name);
        
        var path = Path.Combine(type, file.Name);
        try
        {
            await using FileStream fs = new(Path.Combine("wwwroot/", path), FileMode.Create);
            await file.OpenReadStream(MaxFileSize).CopyToAsync(fs);
        }
        catch (Exception e)
        {
            Log.Error("File: {Filename} Error: {Error}",
                e.Source, e.Message);
            
            throw new Exception(e.Message);
        }

        return path;
    }

    private async Task LoadMetaFile(InputFileChangeEventArgs e)
    {
        Log.Information("{@SourceObject}: Loading Meta file {@File}", 
            typeof(SpeechRecognition),  e.File.Name);
        try
        {
            var path = await CopyFileToPath("meta", e.File);
            
            var metaData = JsonConvert.DeserializeObject<MetaData>(await File.ReadAllTextAsync(Path.Combine("wwwroot", path)));
            MetaFile = new MetaFile
            {
                Name = e.File.Name,
                Path = path,
                MetaData = metaData
            };

            Log.Information("{@SourceObject}: Saving MetaFie {@MetaFile} in Local Storage", 
                typeof(SpeechRecognition), e.File.Name);
            
            await _protectedLocalStorage.SetAsync("MetaFile", MetaFile);
        }
        catch (Exception ex)
        {
            Log.Error("File: {Filename} Error: {Error}",
                e.File.Name, ex.Message);
        }
    }

    private async Task LoadAudioFiles(InputFileChangeEventArgs e)
    {
        try
        {
            IsLoading = true;

            foreach (var file in e.GetMultipleFiles(MaxAllowedFiles))
            {
                if (!AudioFiles.Exists(arg => arg.Name == file.Name))
                {
                    Log.Information("{@SourceObject}: Loading Audio file {@File}", 
                        typeof(SpeechRecognition),  file.Name);
                    
                    var path = await CopyFileToPath("audio", file);

                    var audioFile = new TempAudioFile()
                    {
                        Name = file.Name,
                        SourceFile = path
                    };

                    if (MetaFile != null)
                    {
                        Log.Information("{@SourceObject}: Setting Meta data file {@File}", 
                            typeof(SpeechRecognition),  file.Name);
                        
                        audioFile.Meta = MetaFile.FindSigmet(Path.GetFileNameWithoutExtension(audioFile.Name));
                        audioFile.MetaPath = MetaFile.Path;
                        
                        SetMeta(audioFile);
                    }

                    if (await _ffmpegService.UnsupportedCodecAsync(Path.Combine("wwwroot", audioFile.SourceFile)))
                    {
                        Log.Information("{@SourceObject}: File {@File} is in unsupported format. " +
                                  "Try to convert to WAV PCM 16bit", 
                            typeof(SpeechRecognition),  file.Name);
                        
                        audioFile.ConvertedFile = await _ffmpegService.ConvertAsync(audioFile.SourceFile);
                    }

                    if (await FileIsNotShort(audioFile))
                    {
                        Log.Information("{@SourceObject}: Adding file {@File} to AudioFiles Collection", 
                            typeof(SpeechRecognition),  file.Name);
                        
                        AudioFiles.Add(audioFile);
                    }
                    else
                    {
                        Log.Information("{@SourceObject}: File {@File} is short and don't contain speech. Deleting", 
                            typeof(SpeechRecognition),  file.Name);
                        
                        if (File.Exists(Path.Combine("wwwroot", audioFile.SourceFile)))
                            File.Delete(Path.Combine("wwwroot", audioFile.SourceFile));
        
                        if (File.Exists(Path.Combine("wwwroot", audioFile.ConvertedFile)))
                            File.Delete(Path.Combine("wwwroot", audioFile.ConvertedFile));
                    }
                }
                else
                {
                    Log.Information("{@SourceObject}: File {@File} already is in AudioFiles Collection", 
                        typeof(SpeechRecognition),  file.Name);
                    
                    _notificationService.Notify(new NotificationMessage()
                    {
                        Severity = NotificationSeverity.Warning, 
                        Summary = "Внимание", 
                        Detail = $"Файл {file.Name} уже есть в базе", 
                        Duration = 4000
                    });
                    StateHasChanged();
                }

                IsLoading = false;
                IsUploading = true;
                StateHasChanged();
            }
            
            IsUploading = false;
            StateHasChanged();
            
            Log.Information("{@SourceObject}: Saving AudioFiles Collection in Local Storage", 
                typeof(SpeechRecognition));
            
            await _protectedLocalStorage.SetAsync("TempAudioFiles", AudioFiles);
        }
        catch (Exception ex)
        {
            Log.Error("File: {Filename} Error: {Error}",
                e.File.Name, ex.Message);
        }
    }

    private void SetMeta(TempAudioFile audioFile)
    {
        if (audioFile.Meta == null) return;
        
        audioFile.DateTime = audioFile.Meta.Description[0];
        audioFile.Duration = audioFile.Meta.Description[1];
        audioFile.Contacts = audioFile.Meta.Description[3];

        if (audioFile.Meta.Contact.Parties.Count <= 1) return;
        
        audioFile.Abonent = audioFile.Meta.Contact.Parties[^2].Name;
        audioFile.Nomer = audioFile.Meta.Contact.Parties[^1].Name;

        var abonent = _phonesDbService.Find(audioFile.Abonent);
        if (abonent != null)
        {
            audioFile.IdAbonent = abonent.idPhone;
            audioFile.AbonentName = abonent.ToString();
            audioFile.IdAbonentName = abonent.idObj;
        }
        
        var nomer = _phonesDbService.Find(audioFile.Nomer);
        if (nomer == null) 
            return;
        audioFile.IdNomer = nomer.idPhone;
        audioFile.NomerName = nomer.ToString();
        audioFile.IdNomerName = nomer.idObj;
    }

    private async Task<bool> FileIsNotShort(TempAudioFile audioFile)
    {
        Log.Information("{@SourceObject}: Analyzing file {@File} len", 
            typeof(SpeechRecognition), audioFile.Name);
        
        var mediaInfo = await FFmpegService.Info(Path.Combine("wwwroot", audioFile.ConvertedFile ?? audioFile.SourceFile));
        
        Log.Information("{@SourceObject}: File {@File} len is {@Duration}", 
            typeof(SpeechRecognition), audioFile.Name, mediaInfo.Duration);
        
        if (mediaInfo.Duration >= new TimeSpan(0, 0, 10))
            return true;
        
        Log.Information("{@SourceObject}: Analyzing file {@File} substance", 
            typeof(SpeechRecognition), audioFile.Name);
        
        var results = await _voskService.RecognizeAsync(Path.Combine("wwwroot", audioFile.ConvertedFile ?? audioFile.SourceFile));
        var letters = results.Where(voskResult => voskResult.text.ToCharArray().Length > 0).Sum(voskResult => voskResult.text.ToCharArray().Length);
        
        Log.Information("{@SourceObject}: File {@File} contains {@Count} letters", 
            typeof(SpeechRecognition), audioFile.Name, letters);
        
        return letters >= 4;
    }
}