@page "/SpeechRecognition"
@attribute [Authorize]

@using System.IO
@using Microsoft.Extensions.Logging
@using Sava.Components
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@using Sava.Service

@inject ILogger<SpeechRecognition> _logger
@inject ProtectedLocalStorage _protectedLocalStorage
@inject VoskService _voskService
@inject FFmpegService _ffmpegService
@inject PhonesDbService _phonesDbService
@inject NotificationService _notificationService

<h2>Speech Recognition</h2>

@if (IsInitiating)
{
    <label>Загрузка данных из кэша...</label>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <div class="row align-items-center gy-5" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-2">
            <label>Выберите мета-файл : </label>
        </div>
        <div class="col-auto">
            <InputFile id="metaFileUpload"
                       OnChange="@LoadMetaFile"
                       accept=".json"
                       hidden/>
            <label type="button" class="btn btn-primary btn-sm" for="metaFileUpload">
                Загрузить
            </label>
        </div>
        <div class="col-2">
            @if (MetaFile != null)
            {
                <label>@MetaFile.Name</label>
            }
        </div>
    </div>
    
    <div class="row align-items-baseline" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-2">
            <label>Выберите аудио файлы : </label>
        </div>
        <div class="col-auto">
            <InputFile id="audioFilesFileUpload"
                       OnChange="@LoadAudioFiles"
                       accept=".wav, .WAV"
                       multiple hidden/>
            <label type="button" class="btn btn-primary btn-sm" for="audioFilesFileUpload">
                Загрузить
            </label>
        </div>
        <div class="col-2">
            @if (AudioFiles.Count > 0)
            {
                <label>@("Загружено " + AudioFiles.Count + " аудио файл(ов)")</label>
            }
        </div>
    </div>

    @if (IsLoading)
    {
        <label>Загрузка файлов на сервер...</label>
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    }
    else if (AudioFiles != null)
    {
        <SpeechTable AudioFiles="AudioFiles"/>
    }

    @if (IsUploading)
    {
        <label>Продолжается загрузка файлов на сервер...</label>
        <div class="spinner-border text-primary" role="status"></div>
        <span class="visually-hidden"></span>
    }
}

@code
{
    protected override async Task OnParametersSetAsync()
    {
        IsInitiating = true;
        AudioFiles = new List<TempAudioFile>();
        try
        {
            var audioFilesResult = await _protectedLocalStorage.GetAsync<List<TempAudioFile>>("TempAudioFiles");
            AudioFiles = audioFilesResult.Success ? audioFilesResult.Value : new List<TempAudioFile>();
            
            var metaResult = await _protectedLocalStorage.GetAsync<MetaFile>("MetaFile");
            MetaFile = metaResult.Success ? metaResult.Value : null;
        }
        catch (Exception e)
        {
            _logger.LogError("File: {Filename} Error: {Error}",
                e.Source, e.Message);
        }
        IsInitiating = false;
    }

        private const long MaxFileSize = 104857600; // 100 мегабайт
        private const int MaxAllowedFiles = 1000000; // 1 млн.
    
    private MetaFile MetaFile { get; set; }
    private List<TempAudioFile> AudioFiles { get; set; }

    private bool IsInitiating { get; set; }
    private bool IsLoading { get; set; }
    private bool IsUploading { get; set; }

    private static async Task<string> CopyFileToPath(string type, IBrowserFile file)
    {
        var path = Path.Combine(type, file.Name);
        await using FileStream fs = new(Path.Combine("wwwroot/", path), FileMode.Create);
        await file.OpenReadStream(MaxFileSize).CopyToAsync(fs);
        return path;
    }

    private async Task LoadMetaFile(InputFileChangeEventArgs e)
    {
        try
        {
            var path = await CopyFileToPath("meta", e.File);
            var metaData = JsonConvert.DeserializeObject<MetaData>(await File.ReadAllTextAsync(Path.Combine("wwwroot", path)));

            MetaFile = new MetaFile
            {
                Name = e.File.Name,
                Path = path,
                MetaData = metaData
            };

            await _protectedLocalStorage.SetAsync("MetaFile", MetaFile);
        }
        catch (Exception ex)
        {
            _logger.LogError("File: {Filename} Error: {Error}",
                e.File.Name, ex.Message);
        }
    }

    private async Task LoadAudioFiles(InputFileChangeEventArgs e)
    {
        try
        {
            IsLoading = true;

            foreach (var file in e.GetMultipleFiles(MaxAllowedFiles))
            {
                if (!AudioFiles.Exists(arg => arg.Name == file.Name))
                {
                    var path = await CopyFileToPath("audio", file);

                    var audioFile = new TempAudioFile()
                    {
                        Name = file.Name,
                        SourceFile = path
                    };

                    if (MetaFile != null)
                    {
                        audioFile.Meta = MetaFile.FindSigmet(Path.GetFileNameWithoutExtension(audioFile.Name));
                        audioFile.MetaPath = MetaFile.Path;
                        
                        SetMeta(audioFile);
                    }

                    if (await _ffmpegService.UnsupportedCodecAsync(Path.Combine("wwwroot", audioFile.SourceFile)))
                        audioFile.ConvertedFile = await _ffmpegService.ConvertAsync(audioFile.SourceFile);

                    if(await FileIsNotShort(audioFile))
                        AudioFiles.Add(audioFile);
                    else
                    {
                        if (File.Exists(Path.Combine("wwwroot", audioFile.SourceFile)))
                            File.Delete(Path.Combine("wwwroot", audioFile.SourceFile));
        
                        if (File.Exists(Path.Combine("wwwroot", audioFile.ConvertedFile)))
                            File.Delete(Path.Combine("wwwroot", audioFile.ConvertedFile));
                    }
                }
                else
                {
                    _notificationService.Notify(new NotificationMessage
                    {  
                        Severity = NotificationSeverity.Warning, 
                        Summary = "Внимание", 
                        Detail = $"Файл {file.Name} уже есть", 
                        Duration = 4000
                    });
                    StateHasChanged();
                }

                IsLoading = false;
                IsUploading = true;
                StateHasChanged();
            }
            
            IsUploading = false;
            StateHasChanged();
            
            await _protectedLocalStorage.SetAsync("TempAudioFiles", AudioFiles);
        }
        catch (Exception ex)
        {
            _logger.LogError("File: {Filename} Error: {Error}",
                e.File.Name, ex.Message);
        }
    }

    private void SetMeta(TempAudioFile audioFile)
    {
        if (audioFile.Meta == null) return;
        
        audioFile.DateTime = audioFile.Meta.Description[0];
        audioFile.Duration = audioFile.Meta.Description[1];
        audioFile.Contacts = audioFile.Meta.Description[3];

        if (audioFile.Meta.Contact.Parties.Count <= 1) return;
        
        audioFile.Abonent = audioFile.Meta.Contact.Parties[^2].Name;
        audioFile.Nomer = audioFile.Meta.Contact.Parties[^1].Name;

        var abonent = _phonesDbService.Find(audioFile.Abonent);
        if (abonent != null)
        {
            audioFile.IdAbonent = abonent.idPhone;
            audioFile.AbonentName = abonent.ToString();
            audioFile.IdAbonentName = abonent.idObj;
        }
        
        var nomer = _phonesDbService.Find(audioFile.Nomer);
        if (nomer != null)
        {
            audioFile.IdNomer = nomer.idPhone;
            audioFile.NomerName = nomer.ToString();
            audioFile.IdNomerName = nomer.idObj;
        }
    }

    private async Task<bool> FileIsNotShort(TempAudioFile audioFile)
    {
        var mediaInfo = await FFmpegService.Info(Path.Combine("wwwroot", audioFile.ConvertedFile ?? audioFile.SourceFile));
        if (mediaInfo.Duration >= new TimeSpan(0, 0, 11)) 
            return true;
        
        var results = await _voskService.RecognizeAsync(Path.Combine("wwwroot", audioFile.ConvertedFile ?? audioFile.SourceFile), false);
        var letters = results.Where(voskResult => voskResult.text.ToCharArray().Length > 0).Sum(voskResult => voskResult.text.ToCharArray().Length);
        return letters >= 4;
    }
}